$white : #FFFFFF;
$primaryColour : #CC747F;
$black : #000000;
$errMsg : #FF0000;
$bgColourLight : rgba(196, 196, 196, 0.33);
$mobileMenu : rgba(0, 0, 0, 0.767);
$HowitWorksBlockBackground : #F5EEEE;
$HowitWorksBlockHeading : #7A4B9E;
$boxShadow : rgba(0, 0, 0, 0.25) ;
$messagesLeftTop : rgba(196, 196, 196, 0.33) ;
$messagesrightTop : rgba(112, 154, 236, 0.9) ;
$chatPersonsHover : rgb(216, 216, 231) ;