@import '../../../ColourTheme/ColourTheme.scss' ;

.AssessmentHeading{
    margin-top: 15vh;
    color: $primaryColour;
    text-align: center;
}
.question{
    margin-top: 10vh;
    font-weight: 500;
}
.nextBtn{
    float: right;
}